*{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

#headerBar{
  top: 0;
  width: 100%;
  background-color: #5d5e60;
}

#headerBar ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: left;
}

#headerBar li{
  color:#f1f1f1;
  display: inline;
}

.btn{
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
}

#totalPages{
  display: none;
}

/* The popup form - hidden by default */
/* model information from https://www.w3schools.com/howto/howto_css_modals.asp*/
.formDiv{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: (0,0,0,0.3);
}

#bookAddForm {
  background-color: #fefefe;
  border: 3px solid #f1f1f1;
  padding: 20px;
  margin: 10%;
  width: 80%;
}

.close{
  float: right;
  padding: 10px;
  width: 80%;
}

input, select, textarea, label{
  text-align: left;
  width: 100%;
  padding-top: 10px;
  margin: 5px;
}


#userForm{
  background-color: #fefefe;
  border: 3px solid #f1f1f1;
  padding: 20px;
  margin: 10%;
  width: 80%;
}

#content {
  margin-top: 50px;
  text-align: center;
}

/*table css*/
/*inspiration from https://www.w3schools.com/css/css_table_style.asp*/
table {
  width: 80%;
  margin-left: 10%;
}

tr{
  text-align: center;
  transition-delay: .3s;
  transition-duration: 1.5s;
}

th, td{
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover{
  background-color: #555;
  color: white;
  transition-delay: .3s;
  transition-duration: 1.5s;
}