<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>bookshelf</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <!--google adsense tag-->
  <script data-ad-client="ca-pub-9682478669230464" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>  
  {{{body}}}
</body>
</html>