<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>bookshelf</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <!--google adsense tag-->
  <script data-ad-client="ca-pub-9682478669230464" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
 <div id="headerBar">
    <ul>
      <li id="homeButton"><a href="/login">bookshelf</a></li>
      <li><a href="/logout">log out</a></li>
    </ul>
  </div>
  <section id="header">
  </section>
  <section id="addBook">
  </section>
  <section id="displayButtons">
  </section>
  <section id="pagesRead">
  </section>
  <section id="books">
  </section>
  <section id="browse">
  </section>
  <div id="booksMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
  <footer>
    <p>Abigail Buchman | IGME 2021</p>
  </footer>
</body>
</html>
